<!DOCTYPE html>
<html data-ng-app="ndcbuddy">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
</head>
    <body>
        <div class="main">
        @RenderBody()
        </div>
        <script src="https://ndcbuddy.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/jqueryplugins")
        
        @*<script src="~/Scripts/jquery.livequery.min.js"></script>*@
        @Scripts.Render("~/bundles/underscore")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)

    </body>
</html>
