<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="https://ndcbuddy.azure-mobile.net/client/MobileServices.Web-1.0.0.min.js"></script>
    <script type="text/javascript">
        var client = new WindowsAzure.MobileServiceClient(
            "https://ndcbuddy.azure-mobile.net/",
            "HPCnKHTBWgSiMoNxqYtjydPJSxIzFE13"
        );
    </script>
</body>
</html>
